[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
liftover = "*"
click = "*"
friendlylog = "*"
termcolor = "*"
setuptools = "*"
wheel = "*"
tqdm = "*"
twine = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
