[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
liftover = "*"
click = "*"
friendlylog = "*"
termcolor = "*"
setuptools = "*"
wheel = "*"
tqdm = "*"
twine = "*"
hgvs = "*"
docker = "*"
"ga4gh.vrs" = {extras = ["extras"], version = "*"}
jsonschema = "<4.0"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
